
        <style>
        
        .list-tail {
            width: 69.8rem;
            border: 0.1rem solid rgb(221, 221, 221);
            background-color: rgb(227, 255, 221);
        }

        .list-tail .thanks {
            text-align: center;
            font-weight: 500;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
        }

        .list-tail .thanks a {
            color: blue;
            margin-right: 2rem;
        }

        .list-tail .copyright {
            word-break: break-all;
            line-height: 3rem;
            margin: 0rem 2rem 1.4rem;
        }

        .list-tail .copyright .pull-right {
            float: right;
        }
</style>

            <div class="list-tail">
                    <div class="thanks">友情链接：<a href="https://www.baidu.com" class="a-thanks">百度</a><a
                        href="https://www.baidu.com" class="a-thanks">掘金</a><a href="https://www.baidu.com"
                        class="a-thanks">csdn</a></div>
                <div class="copyright"><b>Copyright © 2020 Sx.cn All Rights Reserved 京ICP备08000853号-56
                        <a href="https://www.baidu.com/">杭州上行有限公司掘CSDN组</a> 版权所有
                    </b> <span class="pull-right"> <b>Version</b> 0.1.0</span></div>
                </div>
